:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: SnakeBite;
    src: url(fonts/SnakeBite.ttf);
}

body {
    margin: 0;
    padding: 0;

    background-color: rgb(24, 24, 24);

    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

#hub-list {
    list-style: none;
}
.card {
    background-color: white;
    color: rgb(2, 2, 55);
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    min-width: 30vw;
    min-height: fit-content;
}

.error {
    color: red;
}

.hub {
    padding: 0.5rem 1rem;

    background-color: rgb(15, 127, 131);

    color: rgba(255, 255, 255, 0.775);

    cursor: pointer;
} 

.hub:active {
    background-color: rgb(19, 164, 169);
}

.snakebite {
    font-family: SnakeBite;
    font-size: 2rem;
    font-weight:light;
    text-align:center;
}

.circle {
    border-radius: 50%;
    background: transparent;
    border-style: solid;
    border-color: rgb(26, 27, 27);
    border-left-color: rgb(18, 240, 37);
    position: absolute;
    align-content: center;
    width: 5rem;
    height: 5rem;
    animation-name: rotate-right;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate-right {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}